$maincolor: #b88b58;
$greycolor: #ededed;
$silvercolor: #b3b3b3;
$twitter-color: #34c5f0;
$facebook-color: #336297;
$linkedin-color: #127cb4;
$gplus-color: #e74237;
$pinterest-color: #b71c29;

$font: 'Montserrat', sans-serif;
 