
@media  (max-width: 767px) { // sm
   
    [class*="col-"] {
        padding: 1vw;
      }
    .specrow{
        padding: 2vh 0;
        margin: 0 2.5%;
    }
    .belt{
        margin: 0 auto !important;
    }
    .jumbotron {
        min-height: 450px !important;
        header{
            .hamburger{
                z-index: 3;
                position: fixed;
                right: 10px;
                top: 10px;
                display: block;
            }
            nav{
                display: none;
                &.show{
                    z-index: 1;
                    position: fixed;
                    display: block; 
                    width: 100%;
                    height: 100vh;
                    opacity: 0.95;
                    background-color: black;
                    overflow-y: auto;
                    top: 0;
                    left: 0;
                    ul {
                        border-top: 2px solid white;
                        width: 100%;
                        height: 70vh;
                        margin: 70px auto;
                        li{
                            font-size: 1.2rem;
                            font-weight: 600;
                            display: block;
                            margin: 7vh 10vw 0;
                            padding-bottom: 2vh;
                            border-bottom: 1px solid white;
                            &:last-child{
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
            
        }
        .content{
             .button{
                padding: 2vh 4vw;
                width: 35%;
            }
        }
    }
    .newone{
        padding-top: 2.5%;
        text-align: center;
        p{
            font-size: 1.2em;
        }
        .content{
            margin: 5vh auto;
        }
        &::before{
            display: none;
        }
    }
    .services .icons [class^="icon-"]{
        margin: 2vh 0;
    }
    .heroquats{
        .content{
            p{
                margin: auto 10%;
            }
            .quate{
                font-size: 3.5em;
            }
        }
    }

   .prices .offerts [class^="offert-"]{
       min-height: 55vh;
       margin: 2vh 0 ;
       padding-bottom: 0;
        .topsec{
            padding-bottom: 10%;
            height: 30%;
            font-size: 1.4em !important;
            .package{
                padding: 5px;
                p{
                    font-size: 1.6em !important;
                }
            }
            p{
                margin: 0 !important;
            }
        }
        .bottomsec{
            font-size: 1.5em !important;
            height: 75%;
            padding: 5% 0;
            ul{
                padding: 2.5% 0;

                li{
                    padding: 2% 0;
                }
            }
        }
   }
   .gallery [class^="update-"]{
       padding: 0.5%;
   }
   .benefits{
    [class^="benefit-"]{
        margin: 0 auto;
        text-align: center;
        padding: 0;
        min-height: 45vh;
        p{
            font-size: 1.3em;
        }
    }
   }
   .joincomunity{
       p{
        font-size: 2em !important;
       }
       .button {
           p {
                font-size: 1.5em !important;
            }
        }
   }
   .hero-2{
       .content{
           padding: 5%;
           font-size: 1.2em;
           .button{
               width: 35%;
           }
       }
   }
   .downloadsec{
       .content{
           p{
               font-size: 18px;
           }
           padding: 0 !important;
           .belt{
            margin-left: 0 !important;
        }
       }
       
   }
}
@media (min-width: 768px) and (max-width: 991px) { //md
    
    [class*="col-"] {
        padding: 1vw;
      }
    .specrow{
        padding: 1vh 0;
        margin: 0 1%;
    }
    .belt{
        margin: 0 auto !important;
    }
    .jumbotron .content .button{
        width: 20vw;
    }
    .newone{
        text-align: center;
        .content{
            margin: 5vh auto;
        }
        &::before{
            display: none;
        }
    }
    .services .icons [class^="icon-"]{
        margin: 0;
    }

   .prices .offerts [class^="offert-"]{
       margin: 3vh 0 ;
       font-size: 2em !important;
       .topsec{
        padding-bottom: 5% 0 10%;
        }
    }
   
   .gallery [class^="update-"]{
       padding: 0.5%;
   }
   .joincomunity{
       p{
        font-size: 2em !important;
       }
       .button p{
        font-size: 1.5em !important;
       }
   }
   .hero-2{
       .content{
           padding: 5%;
           font-size: 1.2em;
       }
   }
   .downloadsec{
       .content{
           padding: 0 !important;
           .belt{
            margin-left: 0 !important;
        }
       }
       
   }
}
@media (min-width: 992px) and (max-width: 1199px) { //lg
    [class*="col-"] {
        padding: 1vw;
      }
    .specrow{
        margin: 2vh 2vw;
    }
}
