footer{
    background-color: black;
    color: $greycolor;
    padding: 5vh 0;

    [class^="col-"]{
        padding: 2vh;
    }
    .contacts{
        flex-direction: column;
        justify-content: space-between;
        i{
            background-color: #373737;
        }
    }
    .subscribe{
        margin: 0 2vh;
        background-color: #373737;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        input{
            box-sizing: border-box;
            background-color: #373737;;
            border: none;
            border-bottom: 2px solid $greycolor;
            font-size: 20px;
            padding: 1vh 0 1vh 1vh;

            &::placeholder{
                font-weight: 400;
                font-size: 20px;
            }
        }
    }
}