.hero{
    background-image: url(../images/bg_img_01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
    min-height: 500px;
    width: 100%;
        .content{
            width: 100%;
            height: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $greycolor;
            flex-direction: column;
            p{  
                display: inline-block;
                width: 95%;
                text-align: center;
                font-weight: 900;
                font-size: 100px;
                span{
                    color: $maincolor;
                }
            }
        }
        .switches{
            display: flex;
            justify-content: center;
        }
}