.map{
    background-image: url(../images/Map.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50vh;
    .datarow{
        height: 100%;
        justify-content: flex-start;
        align-items: center;
        .contactdata{
            flex-basis: 45%;
            background-color: white;
            color: grey;
            padding: 4vh;
            flex-direction: column;
            .data{
                padding: 1vh;
                p,i{
                    display: inline-block;
                }
            }
        }
    }
}